//MAIN BEGIN
main
	.pr-main-wrap
		.pr-main
			.pr-main-title
				.pr-main-title-left
					p Featured events
				.pr-main-title-right
					p Odds
					.pr-switch
						.pr-switch-container
						.pr-switch-circle
			.pr-main-odds
				form
					.pr-radio
						label(for="odd_decimal")
							input(name='odds_name' checked id='odd_decimal' type="radio")
							span.pr-circle
						span Decimal
					.pr-radio
						label(for="odd_fractional")
							input(name='odds_name' id='odd_fractional' type="radio")
							span.pr-circle
						span Fractional
					.pr-radio
						label(for="odd_american")
							input(name='odds_name' id='odd_american' type="radio")
							span.pr-circle
						span American
			.pr-main-content
				-var mainlandName = ['Europe','North & Central america','North & Central america','GERMANY AMAETUR','Turkey Amateur','North & Central america'];
				-var cupName = ['UEFA Europa League, Knockout Cup','Carribien Cup','Carribien Cup','Regionalliga Südwest','3. Lig, Group 2','World Cup Qualification, CONCACAF 4th round'];
				-var mainlandIcon = ['europe','north_central_america','north_central_america','Германия','Турция','north_central_america'];
				-for(var i=0;i<6;i++){
					.pr-main-content-row
						.pr-arrow
							svg.nm-svg(width="6" height="9")
								use(xlink:href="#icon-caret-right")
						.pr-main-content-row-title
							.pr-main-content-row-title-left
								.pr-country-icon
									-if(i==3 || i==4){
										.pr-icon(style="background: url('img/Флаги/"+mainlandIcon[i]+".svg') no-repeat center; background-size: cover;")
									-}
									-if( i!==3 && i!==4){
										svg.nm-svg.pr-green-svg(width="45" height="45")
											use(xlink:href="#"+mainlandIcon[i])
									-}
								.pr-country-name
									.pr-mainland-name
										a(href='javascript:void(0)').pr-mainland-link= mainlandName[i]
									.pr-cup-name
										a(href='javascript:void(0)').pr-cup-link= cupName[i]
							.pr-main-content-row-title-right
								.pr-lightgreen
									p Player ratings
										-if(i==0 || i==3){
										| <br> & Heat map
										-}
								.pr-title-score-row
									.pr-x-col
										p 1
									.pr-x-col
										p X
									.pr-x-col
										p 2
						.pr-match-rows-wrap
							-if(i!=2){
								-for(var k=0; k<2; k++){
									.pr-match-row
										.pr-match-row-left
											.pr-left-col
												-var live1 = ['55', '87', '90+', '23','55', '87', '90+', '23'];
												p.pr-match-live Live: 
													-if(i==0){
														span= live1[k]
													-}
													-if(i==1){
														span= live1[k+2]
													-}
													-if(i==2){
														span= live1[k+3]
													-}
													-if(i!=0 || i!=1 || i!=2){
														span= live1[k]
													-}
											.pr-match-row-center
												a(href="javascript:void(0)").pr-match-row-center-left
													.pr-team-name-cont
														p.pr-match-team-name APOEL Niscotia
														// For blue coeff add class pr-blue
														.pr-coeff.pr-blue 1
													.pr-team-name-cont
														p.pr-match-team-name RSC Anderlecht
														.pr-coeff.pr-blue 0
											.pr-match-row-center-right
												-if(k==0 && i==0){
													a(href="javascript:void(0)").pr-event-container
														svg.nm-svg(width="9" height="8")
															use(xlink:href="#player-statistics")
														span 7
													a(href="javascript:void(0)").pr-event-container
														svg.nm-svg(width="6" height="5")
															use(xlink:href="#highlights")
														span 3
												-}
										.pr-match-row-right
											.pr-match-row-right-wrap
												.pr-favorite-container.nm-toogle-div
													a(href='javascript:void(0)').pr-favorite-btn.nm-toggler
														i(class='icon-icon-favorite')
													.nm-dropdown.pr-dropdown-favorite
														ul
															li
																a(href="javascript:void(0)").pr-remove
																	| Remove
															li
																a(href="javascript:void(0)").pr-mute
																	| Mute this event
												a(href='javascript:void(0)').pr-more-btn more
												.pr-odds-row
													.pr-odds-row-wrap
														div(class= (k==3) ? " pr-odds-col pr-odds-yellow" : "pr-odds-col")
															.pr-odds-up
															a(href="javascript:void(0)") 2.90
														.pr-odds-col
															.pr-odds-down
															a(href="javascript:void(0)") 3.25
														.pr-odds-col
															.pr-odds-up
															a(href="javascript:void(0)") 2.70
								-}
							-}
							-if(i==2){
								-for(var k=0; k<4; k++){
									.pr-match-row
										.pr-match-row-left
											.pr-left-col
												-var live2 = ['Postponed at 8:45', 'End: 11:55', 'HT', '28'];
												-if(k==0){
													p.pr-match-cancel= live2[k]
												-}
												-if(k==1){
													p.pr-match-time.pr-fz-11= live2[k]
												-}
												-if(k==2 || k==3){
													p.pr-match-live Live: 
														span= live2[k]
												-}
											.pr-match-row-center
												a(href="javascript:void(0)").pr-match-row-center-left
													.pr-team-name-cont
														p.pr-match-team-name APOEL Niscotia
														// For blue coeff add class pr-blue
														.pr-coeff.pr-blue 0
													.pr-team-name-cont
														p.pr-match-team-name RSC Anderlecht
														.pr-coeff.pr-blue 0
											.pr-match-row-center-right
										.pr-match-row-right
											.pr-match-row-right-wrap
												.pr-favorite-container.nm-toogle-div
													a(href='javascript:void(0)').pr-favorite-btn.nm-toggler
														i(class='icon-icon-favorite')
													.nm-dropdown.pr-dropdown-favorite
														ul
															li
																a(href="javascript:void(0)").pr-remove
																	| Remove
															li
																a(href="javascript:void(0)").pr-mute
																	| Mute this event
												a(href='javascript:void(0)').pr-more-btn more
												.pr-odds-row
													.pr-odds-row-wrap
														div(class= (k==3) ? " pr-odds-col pr-odds-yellow" : "pr-odds-col")
															.pr-odds-up
															a(href="javascript:void(0)") 2.90
														.pr-odds-col
															.pr-odds-down
															a(href="javascript:void(0)") 3.25
														.pr-odds-col
															.pr-odds-up
															a(href="javascript:void(0)") 2.70
								-}
							-}
				-}
//MAIN END